astroid==2.2.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
certifi==2019.3.9
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Session==0.3.1
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.8
isort==4.3.15
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.1.1
mccabe==0.6.1
passlib==1.7.1
pexpect==4.6.0
psycopg2==2.7.7
ptyprocess==0.6.0
pylint==2.3.1
requests==2.21.0
six==1.12.0
SQLAlchemy==1.3.1
submit50==2.4.9
termcolor==1.1.0
typed-ast==1.3.1
urllib3==1.24.2
Werkzeug==0.15.1
wrapt==1.11.1
WTForms==2.2.1
