<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/search">SmoleBooks</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar -->
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                {% if session.logged_in %}
                <li class="nav-item">
                        <a href="/search" class="nav-link">Search</a>
                </li>
                <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/register" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>