{% extends "layout.html" %}

{% block title %}
    SmoleBooks
{% endblock %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Welcome To SmoleBooks</h1>
    <p class="lead">Please login or register</p>
    <p>This is a book review website. 
        <br>You can register and then log in using your username and password.
        <br> Once you are logged in, you will be able to search for books, leave reviews for individual books, and see the reviews made by other people. <br>You’ll also see Goodreads ratings from a broader audience. 
        <br> If you want you can also query for book details and book reviews programmatically via website’s API on "/api/&lt;isbn&gt;" route.
        </p>
</div>
{% endblock %}